.App {
  text-align: center;
  overflow: hidden;
}

.spinner {
  animation: spinner-anim infinite 0.72s linear;
  width: 3em;
}

@keyframes spinner-anim {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.column {
    box-shadow: 1px 1px 0 0 rgba(0,0,0,0.08);
    min-height: 500px;
    border-radius: 0.45em;
    padding-top: 2em;
}

.column:hover {
    transform: scale(1.008);
    box-shadow: 2px 2px 0 0 rgba(0,0,0,0.08);
}

/* Transitions */
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
